*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    background-color: yellow;
    height: 500px;
}

.flex-item{
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 320px;*/
    /* flex: 1 1 320px; */
    /* height: 200px; */
    width: 100%;
    color: white;
    background-color: red;
}

/* .flex-item:nth-child(1){
    order: -3;
}

.flex-item:nth-child(2){
    order: -4;
}

.flex-item:nth-child(3){
    order: -2;
}

.flex-item:nth-child(4){
    order: -1;
} */


/* .flex-item:nth-child(3){
    align-self: flex-end;
}

.flex-item:nth-child(4){
    align-self: center;
}

.flex-item:nth-child(2){
    align-self: stretch;
} */
