*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    background-color: yellow;
    height: 640px;
}

.flex-item{
    background-color: red;
    width: 33.33%;
}